{{> header}}
    <h1>{{ title }}</h1>
    {{# auth }}
    <p>Hi <a href="/{{ auth.username }}">{{ auth.display_name }}</a>!</p>
    {{/ auth }}
    <p>Welcome to {{ title }}</p>
    {{^ auth }}
    <p><a href="/login">Sign Up now!</a></p>
    {{/ auth }}
{{> footer}}
