<% var title = 'Login | Express' %>
<% include ../_layouts/header %>
<h1><%= title %></h1>
<form method="post" action="/login" class="pure-form">
  <fieldset>
    <legend>A Stacked Form</legend>

    <label for="username">Name</label>
    <input id="username" name="username" type="text" placeholder="Name">
    
    <label for="password">Password</label>
    <input id="password" name="password" type="text" placeholder="Password">

    <button type="submit" class="pure-button pure-button-primary">Login</button>
  </fieldset>
</form>
<% include ../_layouts/footer %>
