<% var title = 'Login' %>
<% include ../_layouts/header %>
<h1><%= title %></h1>
<ul>
  <li><a href="/auth/twitter">Twitteでログイン</a></li>
  <li><a href="/auth/github">GitHubでログイン</a></li>
</ul>
<% include ../_layouts/footer %>
