body {
  padding: 4px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.f-left {
  float: left;
  margin-right: 10px;
}

#header span {
  margin-left:4px;
}

span#header_notice {
  margin-left: 10px;
  font-size: 14px;
  line-height: 10px;
}

span#header_name {
  font-size: 14px;
  line-height: 10px;
}

.checked-green {
    color: #00FF7F;
}