<% var title = 'Express'%>
<% include ../layout_header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/membersonly">Members Only Page</a></p>
<% include ../layout_footer %>
