{{> header}}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    {{# auth }}
      <p>ここにログイン時のコンテンツ
    {{/ auth }}
    {{^ auth }}
      <p>ここにログインしてない時のコンテンツ
    {{/ auth }}
{{> footer}}
