    </div> <!-- #main -->
    </div> <!-- pure-g -->

    <script src="/javascripts/lib/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/<%= assets %>.js"></script>

</body>
</html>
