<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lib/grids-responsive-min.css' />
    <link rel='stylesheet' href='/stylesheets/lib/pure-min.css' />
    <link rel='stylesheet' href='/stylesheets/application.css' />
    <link rel='stylesheet' href='/stylesheets/<%= assets %>.css' />
  </head>
  <body>

    <% include ./session %>
    <div class="pure-g">
      <div id="side_bar" class="pure-u-5-24">
        <p>DOYA.IO</p>
        <ul id="menu">
          <li><a href="/">Top</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/communities">Communities</a></li>
          <li><a href="/coffeehouses">CoffeeHouses</a></li>
        </ul>
      </div>
      <div id="main" class="pure-u-19-24">
