  <div id="header">
<% if (auth) { %>
    <span><a href="/logout">Logout</a></span>
    <span>|</span>
    <span>
      <a href="<%= auth.username %>">
        <%= auth.display_name %>
      </a>
    </span>
    <span>|</span>
    <span><a href="/membersonly">Members Only Page</a></span>
<% } else { %>
    <span><a href="/login">LogIn</a></span>
<% } %>
<% if (notice) { %>
    <span id="header_notice"><%= notice %></span>
<% } %>
  </div> <!-- #header -->
