{{> header }}
<h1>{{ title }}</h1>
{{# user }}
    <form method="post" action="/settings/account" class="pure-form">
      <input type="hidden" name="_method" value="put">

      <fieldset>
        <legend>Your URL : <a href="/{{ username }}">http://localhost/{{ username }}</a></legend>

        <label for="username">User Name</label>
        <input id="username" name="username" type="text" placeholder="Name" value="{{ username }}">
        <br>

        <button type="submit" class="pure-button pure-button-primary">Update</button>
      </fieldset>
    </form>

    <form method="post" action="/{{ auth.username }}" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="delete">

      <button type="submit" class="pure-button">Delete</button>
    </form>

{{/ user }}
{{> fotter }}
