{{> header }}
<h1>{{ title }}</h1>
{{# user }}
    <form method="post" action="/settings/profile" class="pure-form">
      <input type="hidden" name="_method" value="put">

      <fieldset>
        <legend>A Stacked Form</legend>
       
        <label for="display_name">Display Name</label>
        <input id="display_name" name="display_name" type="text" placeholder="Display Name" value="{{ display_name }}">
        <br>

        <label for="username">User Name</label>
        <input id="username" name="username" type="text" placeholder="Name" value="{{ username }}">
        <br>
       
        <button type="submit" class="pure-button pure-button-primary">Update</button>
      </fieldset>
    </form>
{{/ user }}
{{> fotter }}
