<% var title = 'Edit User | Express' %>
<% include ../_layouts/header %>
<h1><%= title %></h1>
    <form method="post" action="/<%= user.username  %>" class="pure-form">
      <input type="hidden" name="_method" value="put">

      <fieldset>
        <legend>A Stacked Form</legend>
       
        <label for="display_name">Display Name</label>
        <input id="display_name" name="display_name" type="text" placeholder="Display Name" value="<%= user.display_name %>">

        <label for="username">User Name</label>
        <input id="username" name="username" type="text" placeholder="Name" value="<%= user.username %>">
       
        <button type="submit" class="pure-button pure-button-primary">Update</button>
      </fieldset>
    </form>
<% include ../_layouts/footer %>
