<% var title = 'Users | Express' %>
<% include ../layout_header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    <% users.forEach(function(user) { %>
      <li><a href="<%= user.username %>"><%= user.username %></a></li>
    <% }) %>
    </ul>
    <a href="/users/new">New User</a>
<% include ../layout_footer %>
