{{> header }}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <ul>
      <li>
        <a href="/settings/profile">Edit Profile</a>
      </li>
      <li>
        <a href="/settings/account">Edit Account</a>
      </li>
    </ul>
{{> footer }}
