  <div id="header">
<% if (auth) { %>
    <span><a href="/logout">Logout</a></span>
    <span>|</span>
    <span><a href="/membersonly">MembersOnlyPage</a></span>
    <span>|</span>
    <span><a href="<%= auth.username %>"><%= auth.username %></a></span>
<% } else { %>
    <span><a href="/users/new">SignUp</a></span>
    <span>|</span>
    <span><a href="/login">LogIn</a></span>
<% } %>
<% if (notice) { %>
    <span id="header_notice"><%= notice %></span>
<% } %>
  </div> <!-- #header -->
